{% extends "base.html" %}
{% block contenu %}
<h1>Nouveau mot de passe</h1>
<p>
Nouveau de passe :
</p>
<form action="" method="POST" class="w3-contener">
    <p>
      {{ form.hidden_tag() }}
      {{ form.password.label }} <br/>
      {{ form.password(size=64, class="w3-input w3-border w3-light-grey",
      placeholder="Nouveau mot de passe")}}
      {% for error in form.password.errors %}
      <span class="erreur">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
      {{ form.password2.label }} <br/>
      {{ form.password2(size=64, class="w3-input w3-border w3-light-grey",
      placeholder="Retapez le mot de passe")}}
      {% for error in form.password2.errors %}
      <span class="erreur">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
    {{ form.submit(class = "w3-btn w3-blue") }}
  </p>
</form>
{% endblock %}