<!-- app/templates/index.html -->
<!--
 Page affichant un mot de bienvenu avec le nom de l’utilisateur
 Paramètres :
 user : dictionnaire possédant la clé 'username'
-->
{% extends "base.html" %}
<!-- On définit le contenu du block -->
{% block contenu %}
 <!-- Ici, on se concentre uniquement sur le contenu de la page -->
  <p>Application développé avec Flask</p>
<p>Auteurs : Aurélien VINCENT / Harun SEZGIN</p>
<h1 class="animate__slower animate__infinite animate__animated animate__jello">Un bouton menant vers une page secrète est cachée dans cette section... </h1>
<a href="{{ url_for('main.disco') }}"  class="animate__slower animate__infinite animate__animated animate__jello" style="color:white; position: absolute; top:400px; left: 600px">t</a>
{% endblock %}