<!-- templates/base.html -->
<!--
 Page titre avec barre de navigation
 Paramètres :
 title : titre de la page (str)
-->
<!doctype html>
<html>
 <head>
  <style>
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  div.posts{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  </style>
<title>
 {% if title %}
 {{ title }} - Mon Application
 {% else %}
 Bienvenue dans Mon Application
 {% endif %}
 </title>
 </head>
 <body>
 <header style="background-color: antiquewhite">
  <a href="/"><img src="{{ url_for('static', filename='img/flask.png') }}" alt="Logo" height="150px" width="350"/></a>
      <br><br><br>
  <nav>
   <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/apropos">A propos</a></li>
    </ul>
 </nav>
  </header>
 <hr>
 <!-- Les pages s'afficheront ici -->
 {% block contenu %}
 {% endblock %}
 <!-- fin d'affichage des pages -->
 </body>
</html>