<!-- app/templates/index.html -->
<!--
 Page affichant un mot de bienvenue avec le nom de l'utilisateur
 Paramètres :
title : Titre de la page
-->
{% extends "base.html" %}
<!-- On définit le contenu du block -->
{% block contenu %}
 <!-- Ici, on se concentre uniquement sur le contenu de la page -->
<div class="w3-container w3-center w3-blue log">
    <h1>{{title}}</h1>
    <h1>Bonjour {{ current_user.username }}</h1>
    </div>
{% if form %}
<div class="w3-container log">
<h1 style="text-align: center">Enregistrer un post </h1>
</div>
<div class="w3-center w3-animate-top">
<form action="" method="POST" class="w3-container w3-center">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post.label }} <br/>
        {{ form.post}}
        {% for error in form.post.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
</div>
{% endif %}
<div class="w3-container w3-center">
{% for post in posts %}
    <div class="w3-container">
             <p>
                {% include "_post.html" %}
             </p>
    <div>
         {% else %}

     </div>
             <p>
                Il n'y a pas encore de message posté.
             </p>
         </div>
 {% endfor %}
    <div>
 {% if prev_url %}
     <a href="{{ prev_url }}"><span class="material-symbols-outlined">
navigate_before
</span></a>
 {% endif %}
 {% if next_url %}
     <a href="{{ next_url }}"><span class="material-symbols-outlined">
navigate_next
</span></a>
 {% endif %}
 </div>
</div>
{% endblock %}