{% extends "base.html" %}
{% block contenu %}
<h1 class="animate__animated animate__flip animate__delay-1s animate__infinite animate__slower">Utilisateur {{ user.username }}</h1>
<div class="w3-container w3-center animate__animated animate__flip animate__delay-1s animate__infinite" >
<img src="{{ user.avatar(128) }}"/>
    </div>
    {% if user.about_me %}
         <p class="animate__animated  animate__jello ">
            {{ user.about_me}}
         </p>
            {%endif%}
         <p class="animate__animated animate__bounceIn">
                {{ user.abonnes.count() }} abonnés, {{ user.abonnement.count() }} abonnements
         </p>
            {% if user.last_seen %}
                 <div class="w3-container w3-right w3-teal animate__animated animate__fadeInTopRight animate__jello">
                    Dernière visite : {{ moment(user.last_seen).format('LLL') }}
                 </div>
            {% endif %}
        {% if user == current_user %}
           <div class="w3-container w3-left w3-teal animate__animated animate__fadeInTopLeft">
             <a href="{{ url_for('main.edit_profile') }}">Editer votre profil</a>
         </div>
        {% elif not current_user.is_abonne(user) %}
                 <div class="w3-container w3-left w3-teal">
                     <p>
                 <a href="{{ url_for('main.abonner', username=user.username) }} ">S'abonner</a>
                     </p>
                 </div>
         {% else %}
                 <div class="w3-container w3-left w3-teal">
                 <p>
                     <a href="{{ url_for('main.desabonner', username=user.username) }}">Se
                    désabonner</a>
                     </p>
                 </div>
         {% endif %}
<br><br><hr>
     {% for post in posts %}
 <p>
 {% include "_post.html" %}
 </p>
 {% endfor %}
    <div class="w3-container w3-center">
 {% if prev_url %}
     <a href="{{ prev_url }}"><span class="material-symbols-outlined">
navigate_before
</span></a>
 {% endif %}
 {% if next_url %}
     <a href="{{ next_url }}"><span class="material-symbols-outlined">
navigate_next
</span></a>
 {% endif %}
 </div>
</div>
{% endblock %}